<div class="ui inverted vertical masthead center aligned segment">
  <a href="/"><h3 class="gold kelly-name-font">Kelly Lin</h3></a>
<% if current_user %>
  <h3>
    Hello <%= current_user.username %>~ How are you doing today?
  </h3>
  <div>
    <%= link_to "Add a new event", new_event_path, class: "ui olive basic inverted button" %>
    <%= link_to "Sign Out", logout_path, class: "ui red basic inverted button" %>
  </div>
<% end %>
</div>
<div class="ui container ">
  <br>
  <h1>Upcoming Events</h1>
  <% @events.each do |event| %>
    <table data-purpose="event-list">
      <tr>
        <h3><%= event.name %></h3>
      </tr>
      <tr>
        <p><%= event.location %></p>
      </tr>
      <tr>
        <p><%=event.date.strftime("%A")%>, <%= event.date %>, <%= event.time.strftime('%I'+ ":"+ '%M'+" "+ '%p') %></p>
      </tr>
      <tr>
        <p><%= event.description %></p>
      </tr>
    </table>
    <div class="ui horizontal divider"><i class="ui icon cube"></i></div>
    <% if current_user %>
      <%= link_to "Remove Event", new_event_path, class: "ui olive basic inverted button" %>
    <% end %>
  <% end %>

</div>



