<div class="ui vertical masthead segment">
  <div class="ui margin-top-4 container">
    <h2 class= "center-text">Add a photo!</h2>
    <%= form_for @photo, url:{action: "create"}, html: {class: "ui form"} do |f| %>
      <div class="field">
        <%= label_tag :description %>
        <%= f.text_field :description %>
      </div>
      <div class="field">
        <%= label_tag :url %>
        <%= f.text_field :url %>
      </div>
      <br>
      <div class="center-text field">
        <%= f.submit "Create", :class => "ui fluid  button blue" %>
      </div>
    <% end %>
  </div>
</div>