<!DOCTYPE html>
<html>
<head>
  <title>Kelly Lin Pianist</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= stylesheet_link_tag 'main' %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag 'smoothscroll' %>
  <%= stylesheet_link_tag 'jquery.fancybox' %>
  <%= stylesheet_link_tag 'jquery.fancybox-thumbs' %>
  <%= javascript_include_tag 'jquery.fancybox.pack' %>
  <%= javascript_include_tag 'jquery.fancybox-media' %>
  <%= javascript_include_tag 'jquery.fancybox-thumbs' %>
  <%= csrf_meta_tags %>

  <link href='https://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
</head>
<body>

<%= yield %>

</body>
</html>
